/* Other rules */
.header {
  background: black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.title {
  color: white;
  font-size: 40px;
}

.jobs {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.job {
  width: 28%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 25px;
}

.title-job {
  font-size: 30px;
}

.footer-job {
  font-size: 18px;
}
.red {
  border: 3px solid red;
}
.green {
  border: 3px solid green;
}
.blue {
  border: 3px solid blue;
}
.yellow {
  border: 3px solid yellow;
}

footer {
  font-size: 18px;
  height: 60px;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .jobs {
    width: 100%;
  }
  .job {
    width: 45%;
  }
}

@media (max-width: 760px) {
  .jobs {
    width: 100%;
  }
  .job {
    width: 90%;
  }
}
